<!-- begin::Header -->
<div class="card-header pt-5 border-0">
  <h3 class="card-title fw-bolder text-dark">Notifications</h3>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-4">
  <!-- begin::Item -->
  <a class="d-flex cursor-pointer align-items-center bg-light-primary rounded p-3 mb-7 card-hover position-relative">
    <!-- begin::Icon -->
    <span class="svg-icon svg-icon-primary me-5 ms-3">
      <span [inlineSVG]="'./assets/media/icons/duotune/coding/cod002.svg'" class="svg-icon svg-icon-1"></span>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <span class="fw-medium
       text-gray-800 text-hover-primary fs-6">
        New offers recieved
      </span>

    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
   <div class="notifiy">
    <span class="fw-bolder text-white  ">2</span>
   </div>


    <!-- end::Lable -->
  </a>
  <!-- end::Item -->
  <!-- begin::Item -->
  <a class="d-flex align-items-center cursor-pointer bg-light-primary rounded p-3 mb-7 card-hover position-relative">
    <!-- begin::Icon -->
    <span class="svg-icon svg-icon-success me-5 ms-3">
      <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs027.svg'" class="svg-icon svg-icon-1"></span>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <span  class="fw-medium text-gray-800 text-hover-primary fs-6">
        New Cases may interest you
      </span>

    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
  <div class="notifiy">
    <span class="fw-bolder text-white  ">2</span>
  </div>
    <!-- end::Lable -->
  </a>
  <!-- end::Item -->
  <!-- begin::Item -->
  <a class="d-flex cursor-pointer align-items-center bg-light-primary rounded p-3 mb-7 card-hover position-relative">
    <!-- begin::Icon -->
    <span class="svg-icon svg-icon-danger me-5 ms-3">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'" class="svg-icon svg-icon-1"></span>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">
      <span  class="fw-medium text-gray-800 text-hover-primary fs-6">
      Contract Recieved
      </span>

    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->
    <div class="notifiy">
      <span class="fw-bolder text-white  ">2</span>
    </div>

    <!-- end::Lable -->
  </a>
  <!-- end::Item -->
  <!-- begin::Item -->
  <a class=" cursor-pointer d-flex align-items-center bg-light-primary rounded p-3 card-hover">
    <!-- begin::Icon -->
    <span class="svg-icon svg-icon-info me-5 ms-3">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen020.svg'" class="svg-icon svg-icon-1"></span>
    </span>
    <!-- end::Icon -->
    <!-- begin::Title -->
    <div class="flex-grow-1 me-2">

      <span class="fw-medium text-gray-800 text-hover-primary fs-6">
      Tesla Published New Prize
      </span>
      <span class="text-muted  d-block">Check it out!</span>
    </div>
    <!-- end::Title -->
    <!-- begin::Lable -->

    <!-- end::Lable -->
  </a>
  <!-- end::Item -->
</div>
<!-- end::Body -->
