<div class="row gy-5 g-xl-8">

  <div class="page-header min-height-500  mt-4">
    <div class="text-container-header pt-20">
      <h1 class="  animate-text fs-2">
        <span>Cases </span>
      </h1>
      <h1 class=" animate-text pb-50 fs-6 fw-light mt-2">
        <span class="text-white fs-7 d-block">Create a new case for your business idea.</span>
        <button class="btn-gold-light me-2 cursor-pointer fw-bold mgt-15 text-uppercase" (click)="openCreateCaseDialog()">
          Create Case
        </button>
      </h1>

    </div>

<div class="overlay-bg">
  <div class="overlay-layered">
    <div #backgroundVideo muted autoplay loop playsinline class="video-bg ">
    </div>
  </div>
 
</div>
  <!-- <video #backgroundVideo muted autoplay loop playsinline class="video-bg">

    <source src="assets/video/cases-header.mp4" type="video/mp4">
  </video> -->
  <div class="filter">.</div>
    <span class=" bg-gradient-primary"></span>

  </div>

</div>
