.complete-profile-card {
  background-color: #ffffff;
  background-position: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/webartpath.appspot.com/o/eurekxay-videos%2Frocket.jpg?alt=media&token=0060605c-cf6a-4702-b7be-f077737c7e69');
  background-size: cover;
}
a{
  text-decoration: none;
}
.h-207{
  height: 207px !important;
}
.primary-bg{
  background-color: #0778b9!important;
}
.arrow-2{
  border-color: #0778b9!important;
  i {
    color: #0778b9 !important;
  }
}
