<div class="card-header border-0 pt-10">
  <!-- begin::Title-->

  <div class="card-toolbar">
    <span class="badge fw-bolder fs-7 me-auto px-4 py-3 badge-light-primary">
      Institute Images
    </span>
        <!-- begin::Edit-->
        <a href="#"
          class=" btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow align-self-center ml-10"> <i
            class="bi bi-pencil-fill fs-7"></i></a>

        <!-- end::Edit-->
  </div>
  <!-- end::Title-->

  <!-- begin::Toolbar-->
  <div class="card-toolbar">
    <!-- begin::Menu-->
    <!-- <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
      <span [inlineSVG]="'./assets//media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
    </button> -->
    <!-- <app-dropdown-menu1></app-dropdown-menu1> -->

    <!-- end::Menu-->
  </div>
  <!-- end::Toolbar-->
</div>
<!-- end::Header-->

<!-- begin::Body-->
<div class="card-body">
  <!-- begin::Chart-->
<div class="gallery">
  <div class="gallery__column">
    <a href="https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=820&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=820&q=80" alt="Portrait by Jessica Felicio"
          class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1564910443496-5fd2d76b47fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1564910443496-5fd2d76b47fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" alt="Portrait by Oladimeji Odunsi"
          class="gallery__image">
      </figure>
    </a>


  </div>

  <div class="gallery__column">
    <a href="https://images.unsplash.com/photo-1604136514790-b27086f6c36e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1604136514790-b27086f6c36e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="Portrait by Hikiapp" class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1550510537-89d5433de5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1550510537-89d5433de5cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" alt="Portrait by Ivana Cajina"
          class="gallery__image">
      </figure>
    </a>
  <a href="https://images.unsplash.com/photo-1481253127861-534498168948?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1546&q=80" target="_blank" class="gallery__link">
    <figure class="gallery__thumb">
      <img
        src="https://images.unsplash.com/photo-1481253127861-534498168948?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1546&q=80"
        alt="Portrait by Ivana Cajina" class="gallery__image">
    </figure>
  </a>

  </div>
  <div class="gallery__column">
    <a href="https://images.unsplash.com/photo-1592280771190-3e2e4d571952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1592280771190-3e2e4d571952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" alt="Portrait by Mari Lezhava" class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1597920940566-a77511f9327d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1597920940566-a77511f9327d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="Portrait by Ethan Haddox" class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1541829070764-84a7d30dd3f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1541829070764-84a7d30dd3f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1738&q=80" alt="Portrait by Amir Geshani" class="gallery__image">
      </figure>
    </a>
  </div>

  <div class="gallery__column">
    <a href="https://plus.unsplash.com/premium_photo-1665520346744-e7925b11bc34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://plus.unsplash.com/premium_photo-1665520346744-e7925b11bc34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80" alt="Portrait by Tyler Nix" class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1583373834259-46cc92173cb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1583373834259-46cc92173cb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" alt="Portrait by Jasmin Chew" class="gallery__image">
      </figure>
    </a>

    <a href="https://images.unsplash.com/photo-1580537782437-8d6a0ca13de6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" target="_blank" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="https://images.unsplash.com/photo-1580537782437-8d6a0ca13de6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="Portrait by Dima DallAcqua"
          class="gallery__image">
      </figure>
    </a>
  </div>
</div>
  <!-- end::Chart-->
</div>
