<div class=" position-relative">
  <div class="page-header  border-radius-xl  profile-cover"
    >
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body blur content-wrapper  shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="row gx-4 d-flex ">
      <div class="col-auto my-auto ">
        <div class="avatar avatar-xl position-relative">
          <img src="../../../../../assets/download.jpg" alt="profile_image" class=" border-radius-lg shadow-sm user-profile-pic">
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
          University of Lorem
                  <a class="cursor-pointer">
                    <span [inlineSVG]="
                                      './assets/media/icons/duotune/general/gen026.svg'
                                    " class="svg-icon svg-icon-1 svg-icon-primary"></span>
                  </a>

          </h5>
          <p class="mb-0 font-weight-bold text-sm text-researcher">
            Researcher
          </p>
        </div>
      </div>
      <div class="col-auto my-auto pt-10 ps-2">
          <div class="d-flex flex-wrap flex-stack">
            <div class="d-flex  flex-column flex-grow-1 pe-4">
              <div class="row statistics d-flex flex-wrap">

                  <div class="
                        col-3
                              border-0
                              rounded
                              min-w-75px
                              py-1
                              px-2
                              mb-3
                            ">
                    <div class="d-flex align-items-center">
                      <span [inlineSVG]="
                                  './assets/media/icons/duotune/abstract/abs027.svg'
                                " class="svg-icon svg-icon-3 svg-icon-success me-2"></span>
                      <div class="fs-5 fw-bolder " #casesCounter >0</div>
                    </div>

                    <div class="fw-bold fs-8 text-gray-600">Cases done</div>
                  </div>

                  <div class="
                  col-3
                              border-0
                              rounded
                              min-w-75px
                              py-1
                              px-2
                              mb-3
                            ">
                    <div class="d-flex align-items-center">
                      <span [inlineSVG]="
                                  './assets/media/icons/duotune/general/gen020.svg'
                                " class="svg-icon svg-icon-3 svg-icon-danger "></span>
                      <div class="fs-5 fw-bolder prizes-counter" #prizesCounter>0</div>
                    </div>

                    <div class="fw-bold fs-8 text-gray-600">Prizes Won</div>
                  </div>

                  <div class="
                  col-3
  border-0
                              rounded
                              min-w-75px
                              py-1
                              px-2
                              mb-3
                            ">
                    <div class="d-flex align-items-center">
                      <span [inlineSVG]="
                                  './assets/media/icons/duotune/general/gen003.svg'
                                " class="svg-icon svg-icon-3 svg-icon-warning pl-2"></span>
                      <div class="fs-5 fw-bolder">4.9</div>
                    </div>

                    <div class="fw-bold fs-8 text-gray-600">Rating</div>
                  </div>

              </div>
            </div>
          </div>
      </div>
      <div class="col-auto my-auto pt-10 ps-2">
        <div class="nav-wrapper position-relative end-0 d-flex justify-content-end">
          <ul class="nav nav-pills nav-fill p-1 bg-transparent min-w-200px " role="tablist">
            <li class="nav-item">
              <a class="btn btn-sm btn-light me-2 cursor-pointer" id="kt_user_follow_button">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr012.svg'" class="svg-icon svg-icon-3 d-none"></span>
                <span class="indicator-label">Follow</span>
                <span class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-sm btn-eure-primary-flat me-3 cursor-pointer" data-bs-toggle="modal" data-bs-target="#kt_modal_offer_a_deal">
                Send Offer
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
