
.form-control{
  background-color: #ffffff !important;
  border-color: #e2e2e2 !important;
}
label{
  color: #000 !important;
}
.text-muted{
  color: #000 !important;
}
.w-200px{
  width: 200px;
}
.d-type{
  position: absolute;
top: 0;
width: 71px !important;
right: 0;
}
.dollar{
  position: absolute;
  left: 5px;
  top: 9px;
}
.budget{
  input{
    padding-left: 30px;
  }
}
.mr-auto{
  margin-right: auto;
}
label {
  color: #0778b9 !important;
  text-transform: uppercase;
}
.text-muted {
  color: #0778b9 !important;
  text-transform: uppercase;
}

.req-field-height {
  height: 34.8px !important;
}
