.btn.btn-outline.btn-outline-dashed.btn-outline-default.active{
    color: #0778b9;
    border-color: #0778b9;
    background-color: #f1faff!important;
    border-radius: 15px;
  }
  label{
    border-radius: 15px;
  }